<div class="wrapper">
  <%=render :partial => "menu_bar"%>
  
  <div id="main" style="width:700px;height:600px;">
    
  </div>
 
  <div id="sidebar">
		 <%=render :partial => "side_bar"%>
		
  </div><!--sidebar-->
</div>



